<!DOCTYPE html>
<html lang="en">
<head>
<title>Full Steam Ahead</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/topnav.css') }}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--Top header with the picture and title-->
<div class="header">
<h2><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/1200px-Steam_icon_logo.svg.png" height=100px margin-left=25px>
   Full Steam Ahead</h2>
</div>

<!--permanent navigation bar-->
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="about">About</a>
  <a href="topgames">Top Games</a>
</div>
</header>

<!--Page header-->
<div class="pagetitle">
	<h1>
		   About The Dataset
	</h1>
</div>


<!--Left column with dataset info and limitations-->
<div class="row">
	<div class="column half"> 
		<section> <!--Information about the types of data available on site-->
			<h2>Data Information</h2>
			<h4>What's in this dataset</h4>
				<ul>
					<li>A look into the popularity metrics of the current top 100 games on Steam (per September 2021) for the prior 10 years*</li>
					<li>Data from June 2012 to September 2021</li>
					<li>Each game's monthly average player count on Steam</li>
					<li>Each game's monthly peak player count on Steam</li>
				</ul>
				<br>
				<p>
					*The Kaggle dataset reviewed the past 10 years history of data for the top 100 games in September 2021. This means that games that were popular earlier,
					but may have fallen out of the "top 100" games on Steam for September 2021, are not included in the dataset. Further, many games that were released after 
					June 2012 and before September 2021 will not have data available for the months prior to their release date. This will result in some months having an 
					extremely limited quantity of datapoints to compare (most noticeably when making "View top monthly games" queries). 
				</p>
		</section>

		<br>

		<section>
			<h4>Dataset Limitations</h4>
				<p> 
					Because our data is gathered by month, it is difficult to grasp smaller 
					fluctuations in player count that occur during smaller time frames. In addition,
					we do not have information on how many people played that month versus how many
					people own the game, nor do we have any information on reviews. Our measure of 
					popularity is solely based on the total number of players. 
				</p>		
				<br>
				<p>
					Perhaps the greatest limitation to our dataset is the way in which it was collected. As noted in "What's in this dataset", our dataset only tracks data
					for games that were in the top 100 most popular on Steam for September 2021. This means that our dataset does not present an accurate representation for 
					the "most" popular games in prior months.
				</p>
		</section>
	</div>
	
	<!--right column with sources-->
	<div class="column half"> 
		<section> <!--Information about our data sources-->
			<h2>Source</h2>
				<h3>Kaggle</h3>
					<p>
						The source of our data came from Jack Ogozaly on 
						<a href="https://www.kaggle.com/jackogozaly/steam-player-data">Kaggle</a> (a data science website with datasets generated by the public).  
						This data was scraped from <a href="https://steamcharts.com/top">Steam Charts</a>
						and then converted into a CSV to make the data easier to analyze. 
					</p>
				
				<br>

				<h3>Steam Charts</h3>
					<section>
						<img src="{{ url_for('static', filename='steamcharts.png') }}" alt="Steam Charts SS" width="400" height="400">
						<h5>An example of the types of data available on <a href="https://steamcharts.com/">Steam Charts</a> </h5>
					</section>
					<p>
						The data we are using is public domain, and can be found <a href="https://steamcharts.com/top">here</a>.
					</p>
		</section>
	</div>
</div>

	

  	
<!--footer, same on each page-->
<div class="footer">
  <small>&copy; Full Steam Ahead</small>
<nav>
    <a href="/">Home</a>
    <a class="active" href="about">About</a>
    <a href="topgames">Top Games</a>
  </nav>
</div>
  </body>
</html>
